body { 
    background-color: #DAE7DF;
    color: black;
}

header {
    background-color: #98B6B1;
    color: black;
}
h1 {
    font-size: 50px;
    font-family: "Mv Boli";
}
a {
    background-color: #FAC8CD;
    color: black;

}