body { 
    background-color: #DAE7DF;
    color: black;
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    font-family: MV Boli;
    height: 100%;
    margin: 0%;
}

header {
    background-color: #98B6B1;
    color: black;  
    position: relative;
    overflow: hidden;
}
h1 {
    font-size: 50px;
    font-family: "Mv Boli";
}
a {
    background-color: #FAC8CD;
    color: black;

}